 {#header de la page chambre et etudiant#}
 <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
 <header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">
            <a ref="/">SA ALLOCOTION CHAMBRE</a>
        </h3>
    <div>
    <ul class="nav navbar-nav float-right mr-5">
        <li class="active">
            <a class="btn btn-danger" href="{{ path('app_logout') }}">Deconnecter</a>
        </li>
    </ul>
</header>

</div>