{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block nav %}
{% endblock %}
{% block changer %}
<div class="list-group">
    <a href="/etudiant"><button type="button" class="list-group-item list-group-item-action">Liste des étudiants</button></a>
    <a href="/chambre"><button type="button" class="list-group-item list-group-item-action">Liste des chambres</button></a>
</div>
{% endblock %}
