{% extends 'layouts/_base.html.twig' %}
{% block title %}Chambre index{% endblock %}

{% block body %}
    {% include 'partials/_header.html.twig' only %}

<div class="row">
    <h3 class="col-6">Liste Chambre</h3>
   {# <button href="" id="addEtudiant"
        class=" btn btn-success float-right offset-4 " data-toggle="modal"
        data-target=".modalAddEtudiant" role="button">Ajouter
        Etudiant</button>#}
        <a  class=" btn btn-success float-right offset-4 " href="{{ path('chambre_new') }}">
            Ajouter Une Chambre
        </a>
</div>
<div id="paginate_container">
{% include "chambre/_chambrePaginator.html.twig" %}
</div>
{% endblock %}
