<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('styles/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('styles/style2.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand"><a href="{{ path('app_admin_index') }}">SA ALLOCATION</a></h3>
              {% block nav %}
              <nav class="nav nav-masthead justify-content-center">
                <a class="btn btn-danger" href="{{ path('app_logout') }}">Deconnexion</a>
              </nav>
              {% endblock %}
            </div>
          </header>
        
          
          <main class="inner cover">
            {% block changer %}
            <h1 class="cover-heading">Bienvenue à SA Allocation.</h1>
            <!-- <p class="lead">En tant qu'etudiant je peux consulter mes informtions</p> -->
            <!-- <div class=""> -->
           
          
              <!-- <a href="#" class="btn btn-lg btn-secondary">Consulter ses infos</a> -->
            <!-- </div> -->
            {% endblock %}
          </main>
          {% block foot %}
          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p></p>
            </div>
          </footer>
          {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>