{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block changer %}
<style>
  .table{
     width: 57rem;
  }
  .scrollTable{
    overflow: scroll;
    width:58em;
    height: 26rem;
  }
</style>
<div class="hv-100">
<form method="POST">
  <input type="text" id='valeur' name='search_value'>
    <label for=""></label>
    <select name="select" id="select">
      <option value="">Valeur recherchée..</option>
      <option value="matricule">Matricule</option>
      <option value="prenom">Prenom</option>
      <option value="nom">Nom</option>
    </select>
  <button name="submit" id='submit' type="submit" name="rechercher" class="btn btn-primary">Rechercher</button>
</form>
<a href="{{path('createEtudiant')}}"><input type='button' class='btn btn-primary' value='Ajouter un etudiant'></a>
<div class='scrollTable'>
<table class="table table-striped col-5 mt-1 h-75">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Matricule</th>
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">Mail</th>
      <th scope="col">Chambre</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="bg-white" id='tbody'></tbody>
  </table>
  </div>
</div>
{% endblock %}
{% block foot %}{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{{ asset('js/scroll.js') }}" type="text/javascript"></script>
{% endblock %}

