{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block changer %}
<style>
  .table{
     width: 57rem;
  }
  .scrollTable{
    overflow: scroll;
    width:58em;
    height: 26rem;
  }
</style>
<div class="hv-100">
<form method="POST">
  <input type="text" id='valeur' name='search_value'>
    <label for=""></label>
    <select name="select" id="select">
      <option value="">Valeur recherchée..</option>
      <option value="matricule">Matricule</option>
      <option value="prenom">Prenom</option>
      <option value="nom">Nom</option>
    </select>
  <button name="submit" id='submit' type="submit" name="rechercher" class="btn btn-primary">Rechercher</button>
</form>
<a href="{{path('createEtudiant')}}"><input type='button' class='btn btn-primary' value='Ajouter un etudiant'></a>
<div class='scrollTable'>
<table class="table table-striped col-5 mt-1 h-75">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Matricule</th>
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">Mail</th>
      <th scope="col">Chambre</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="bg-white" id='tbody'></tbody>
  </table>
  </div>
</div>
{% endblock %}
{% block foot %}{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
      let limit=7,
          offset=0;
          loadData(offset,limit);
          // offset+=limit;
          let zoneList = $('.scrollTable');
            zoneList.scroll(function(){
                console.log("scrolling");
                const st = zoneList[0].scrollTop;
                const sh = zoneList[0].scrollHeight;
                const ch = zoneList[0].clientHeight;
                console.log(sh);
                console.log(st);
                console.log(ch);
                if(sh-st<=ch+1){
                  offset+=7;
                  loadData(offset,limit);
                  
                }
              })
    function loadData(offset,limit){
      $.ajax({
        url:"{{path('scroll')}}",
        method:"POST",
        dataType:'text',
        data:{
            limit:limit,
            offset:offset
        },
        success:function(response){
          $('#tbody').append(response);
          offset=offset+7;
        }
      })
    }
    $('#submit').on('click',function(e){
                e.preventDefault();
                    selection=$('#select').children("option:selected").val();
                    search_value = $('#valeur').val();
                $.post(
                    //le fichier php à appeler
                    "{{path('scroll')}}",
                    //les donnees à envoyer
                    {
                        search_value:search_value,
                        selection:selection
                    },
                    //fonction de retour
                    function(data){
                        console.log(data);
                        $('#tbody').html(data);
                    },
                    //le type de retour
                    'text'
                )
            })
  })
</script>
{% endblock %}

